In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-06-19 05:33:20,-34.4187,19.2345,44.80,74,13,6.20
1,1,Talnakh,RU,2022-06-19 05:33:20,69.4865,88.3972,52.21,27,77,4.27
2,2,San Patricio,US,2022-06-19 05:33:20,28.0170,-97.5169,84.88,84,0,8.25
3,3,Khatanga,RU,2022-06-19 05:33:21,71.9667,102.5000,47.05,53,98,12.12
4,4,Paramonga,PE,2022-06-19 05:33:21,-10.6667,-77.8333,61.25,85,47,6.78

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,San Patricio,US,2022-06-19 05:33:20,28.0170,-97.5169,84.88,84,0,8.25
9,9,Djibo,BF,2022-06-19 05:33:23,14.1022,-1.6306,81.27,59,73,6.96
14,14,Kieta,PG,2022-06-19 05:33:25,-6.2167,155.6333,82.09,76,11,3.38
21,21,Hilo,US,2022-06-19 05:33:28,19.7297,-155.0900,78.53,77,100,3.44
23,23,Faanui,PF,2022-06-19 05:33:29,-16.4833,-151.7500,79.00,77,20,19.62
28,28,Balkanabat,TM,2022-06-19 05:33:31,39.5108,54.3671,86.36,31,0,3.02
31,31,Katsuura,JP,2022-06-19 05:33:32,35.1333,140.3000,77.02,85,99,12.55
35,35,Vaini,TO,2022-06-19 05:33:33,-21.2000,-175.2000,77.16,94,75,8.05
37,37,Simpang,ID,2022-06-19 05:33:34,-1.2667,104.0833,83.82,78,63,2.48
42,42,Salalah,OM,2022-06-19 05:31:36,17.0151,54.0924,86.09,84,75,13.80

In [22]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2   San Patricio      US     84.88  28.0170  -97.5169
9          Djibo      BF     81.27  14.1022   -1.6306
14         Kieta      PG     82.09  -6.2167  155.6333
21          Hilo      US     78.53  19.7297 -155.0900
23        Faanui      PF     79.00 -16.4833 -151.7500
28    Balkanabat      TM     86.36  39.5108   54.3671
31      Katsuura      JP     77.02  35.1333  140.3000
35         Vaini      TO     77.16 -21.2000 -175.2000
37       Simpang      ID     83.82  -1.2667  104.0833
42       Salalah      OM     86.09  17.0151   54.0924

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [31]:
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2   San Patricio      US     84.88  28.0170  -97.5169
9          Djibo      BF     81.27  14.1022   -1.6306
14         Kieta      PG     82.09  -6.2167  155.6333
21          Hilo      US     78.53  19.7297 -155.0900
23        Faanui      PF     79.00 -16.4833 -151.7500
28    Balkanabat      TM     86.36  39.5108   54.3671
31      Katsuura      JP     77.02  35.1333  140.3000
35         Vaini      TO     77.16 -21.2000 -175.2000
37       Simpang      ID     83.82  -1.2667  104.0833
42       Salalah      OM     86.09  17.0151   54.0924

In [35]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))