## Deliverable 2. Create a Customer Travel Destinations Map.

In [ ]:
# pip install gmaps

In [11]:
# Dependencies and Setup
import pandas as pd
import gmaps
import requests

# Import API key

from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,0,Joao Pinheiro,-17.7425,-46.1725,64.20,52,0,7.11,BR,clear sky
1,1,Tuatapere,-46.1333,167.6833,48.13,75,6,4.07,NZ,clear sky
2,2,Mataura,-46.1927,168.8643,46.47,89,68,1.19,NZ,broken clouds
3,3,Bluff,-46.6000,168.3333,46.80,71,61,7.05,NZ,broken clouds
4,4,Derzhavinsk,51.1000,66.3167,73.78,52,100,10.83,KZ,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
715,715,Puerto Del Rosario,28.5004,-13.8627,69.55,78,100,19.57,ES,overcast clouds
716,716,Festus,38.2206,-90.3960,74.75,87,0,5.68,US,clear sky
717,717,Chunoyar,57.4467,97.3217,67.98,64,100,3.83,RU,overcast clouds
718,718,Marevo,57.3146,32.0804,51.15,92,80,4.14,RU,broken clouds
719,719,Severomuysk,56.1481,113.4267,60.71,46,23,8.14,RU,few clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
22,22,Benghazi,32.1167,20.0667,75.58,52,0,5.37,LY,clear sky
24,24,Bintulu,3.1667,113.0333,84.61,79,40,2.30,MY,scattered clouds
28,28,Katsuura,35.1333,140.3000,75.45,85,100,16.87,JP,overcast clouds
32,32,Luwuk,-0.9516,122.7875,80.92,78,99,4.56,ID,overcast clouds
33,33,Bengkulu,-3.8004,102.2655,79.41,85,60,10.54,ID,broken clouds
...,...,...,...,...,...,...,...,...,...,...
702,702,Atasu,48.6814,71.6433,84.52,22,100,9.19,KZ,overcast clouds
704,704,Lorengau,-2.0226,147.2712,82.11,75,40,4.41,PG,scattered clouds
707,707,Atar,20.5169,-13.0499,77.72,77,99,5.19,MR,moderate rain
711,711,Monrovia,6.3005,-10.7969,76.91,78,8,2.39,LR,clear sky
713,713,Pishin,30.5803,66.9961,80.38,14,0,8.37,PK,clear sky

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                185
City                   185
Lat                    185
Lng                    185
Max Temp               185
Humidity               185
Cloudiness             185
Wind Speed             185
Country                185
Weather Description    185
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
22,22,Benghazi,32.1167,20.0667,75.58,52,0,5.37,LY,clear sky
24,24,Bintulu,3.1667,113.0333,84.61,79,40,2.30,MY,scattered clouds
28,28,Katsuura,35.1333,140.3000,75.45,85,100,16.87,JP,overcast clouds
32,32,Luwuk,-0.9516,122.7875,80.92,78,99,4.56,ID,overcast clouds
33,33,Bengkulu,-3.8004,102.2655,79.41,85,60,10.54,ID,broken clouds
...,...,...,...,...,...,...,...,...,...,...
702,702,Atasu,48.6814,71.6433,84.52,22,100,9.19,KZ,overcast clouds
704,704,Lorengau,-2.0226,147.2712,82.11,75,40,4.41,PG,scattered clouds
707,707,Atar,20.5169,-13.0499,77.72,77,99,5.19,MR,moderate rain
711,711,Monrovia,6.3005,-10.7969,76.91,78,8,2.39,LR,clear sky
713,713,Pishin,30.5803,66.9961,80.38,14,0,8.37,PK,clear sky

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
22,Benghazi,LY,75.58,clear sky,32.1167,20.0667,
24,Bintulu,MY,84.61,scattered clouds,3.1667,113.0333,
28,Katsuura,JP,75.45,overcast clouds,35.1333,140.3000,
32,Luwuk,ID,80.92,overcast clouds,-0.9516,122.7875,
33,Bengkulu,ID,79.41,broken clouds,-3.8004,102.2655,
...,...,...,...,...,...,...,...
702,Atasu,KZ,84.52,overcast clouds,48.6814,71.6433,
704,Lorengau,PG,82.11,scattered clouds,-2.0226,147.2712,
707,Atar,MR,77.72,moderate rain,20.5169,-13.0499,
711,Monrovia,LR,76.91,clear sky,6.3005,-10.7969,
713,Pishin,PK,80.38,clear sky,30.5803,66.9961,

In [18]:
# Print the beginning of the logging.
# print("Beginning Data Retrieval     ")
# print("-----------------------------")

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
  
    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.  
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping")
    pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

-----------------------------
Data Retrieval Complete
-----------------------------

In [35]:
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
22,Benghazi,LY,75.58,clear sky,32.1167,20.0667,
24,Bintulu,MY,84.61,scattered clouds,3.1667,113.0333,
28,Katsuura,JP,75.45,overcast clouds,35.1333,140.3000,
32,Luwuk,ID,80.92,overcast clouds,-0.9516,122.7875,
33,Bengkulu,ID,79.41,broken clouds,-3.8004,102.2655,
...,...,...,...,...,...,...,...
702,Atasu,KZ,84.52,overcast clouds,48.6814,71.6433,
704,Lorengau,PG,82.11,scattered clouds,-2.0226,147.2712,
707,Atar,MR,77.72,moderate rain,20.5169,-13.0499,
711,Monrovia,LR,76.91,clear sky,6.3005,-10.7969,
713,Pishin,PK,80.38,clear sky,30.5803,66.9961,City Hotel Pishin

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!="")]
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
713,Pishin,PK,80.38,clear sky,30.5803,66.9961,City Hotel Pishin

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "vacation_search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))